@use "./_colors" as *;
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: $light-bg-color;
  nav {
    padding-top: 0.2rem;
    display: flex;
    height: 8.2vh;
    width: 100vw;
    align-items: center;

    .burgerImg {
      margin-left: 11.25%;
      height: 1.25rem;
      width: 1.25rem;
    }
    .falconImg {
      margin-left: 2rem;
      height: 2.5rem;
      width: 2.5rem;
    }
    .falconText {
      font-family: "Poppins", sans-serif;
      color: $blue;
      font-weight: 800;
      font-size: 1.7rem;
      margin-left: 0.6rem;
    }
    .search {
      display: flex;
      align-items: center;
      border-radius: 50rem;
      border: 1px solid $input-border-color;
      width: 21rem;
      height: 2.5rem;
      margin-left: 4rem;
      font-size: 1rem;
      box-shadow: none;
      background-color: $primary-light-color;
      padding-left: 1rem;
      box-sizing: border-box;
      :focus {
        outline: none;
        border: none;
      }
      i {
        font-size: 0.8rem;
        color: $light-blue;
        margin-right: 4px;
      }
      .searchInput {
        border-radius: 50rem;
        border: none;
        width: 20rem;
        height: 2rem;
        padding-left: 5px;
        &::placeholder {
          color: $light-blue;
          font-family: "Poppins", sans-serif;
          font-weight: 300;
          font-size: 1rem;
        }
      }
    }
    .nav-left-icons {
      margin-left: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.8rem;
      .spin-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        .spinIcon {
          animation-name: spin;
          animation-duration: 1500ms;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }

        @keyframes spin {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
        }
      }
      .notificationBasketIcon {
        // margin-left: 20rem;
        .shoppingIcon {
          position: absolute;
          // margin-left: 1.3rem;
          font-size: 1.2rem;
          color: $gray;
          &:hover {
            color: black;
          }
        }
        .notificationNumber {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 1rem;
          width: 1rem;
          font-size: 0.65rem;
          color: $primary-light-color;
          font-weight: 700;
          background-color: $orange;
          border-radius: 100%;
          font-family: "Poppins", sans-serif;
          margin-left: 0.7rem;
          bottom: 8px;
        }
      }
      .bellIcon {
        i {
          position: absolute;
          // margin-left: 1.3rem;
          font-size: 1.2rem;
          color: $gray;
        }
        i:hover {
          color: $blue;
        }
        .blueNotification {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 0.8rem;
          width: 0.8rem;
          border: 2px solid $light-bg-color;
          background-color: $blue;
          border-radius: 100%;
          left: 0.4rem;
          bottom: 8px;
        }
      }
      .circle-img-nav {
        img {
          height: 2rem;
          width: 2rem;
          border-radius: 100%;
        }
      }
    }
  }
  footer {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    span {
      display: flex;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      font-size: 15px;
      margin-left: 12.5rem;
      margin-right: 12.5rem;
      color: $gray;
      a {
        margin-left: 5px;
        text-decoration: none;
        color: $blue;
      }
    }
  }
}
