*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #5e6e82;
  text-align: left;
  background-color: #edf2f9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  position: relative;
}

.main {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  height: 100%;
  padding: 0 0.5rem 0 0;
  width: 90%;
  display: flex;
  justify-content: center;
}

/*Side bar section starts*/
.navbar-vertical {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  width: 5%;
  align-items: center;
  height: 100%;
  position: sticky;
}
.navbar-vertical .toggle-btn #toggle {
  background-color: transparent;
  border: none;
}
.navbar-vertical .toggle-btn #toggle:hover {
  border-radius: 50%;
  background-color: #5e6e82;
}
.navbar-vertical .toggle-btn #toggle:hover .toggle-img {
  background-color: transparent;
}
.navbar-vertical .side-scrollbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar-vertical .side-scrollbar .column-nav {
  min-width: 100%;
  margin-right: 2.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.navbar-vertical .side-scrollbar .column-nav .navbar-vertical-hr {
  width: 15px;
}

svg {
  width: 15px;
}

img {
  max-width: 17px;
  border: none;
  margin-top: 0.2rem;
  background-color: #edf2f9;
}

li {
  list-style: none;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem 0;
}

/*Side bar section Ends*/
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 100%;
}
.content .header {
  width: 100%;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: sticky;
}
.header-nav .nav-left {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: start;
}
.header-nav .nav-left .logo {
  display: flex;
  align-items: center;
}
.header-nav .nav-left .logo .falconImg {
  width: 60px;
  height: 39px;
}
.header-nav .nav-left .logo .falconText {
  font-family: "Poppins", sans-serif;
  color: #2c7be5;
  font-weight: 800;
  font-size: 1.7rem;
  margin-left: 0.6rem;
  display: inline;
}
.header-nav .nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-nav .search {
  display: flex;
  align-items: center;
  border-radius: 50rem;
  border: 1px solid #d8e2ef;
  width: 21rem;
  height: 2.5rem;
  margin-left: 4rem;
  font-size: 1rem;
  box-shadow: none;
  background-color: white;
  padding-left: 1rem;
  box-sizing: border-box;
}
.header-nav .search :focus {
  outline: none;
  border: none;
}
.header-nav .search i {
  font-size: 0.8rem;
  color: #b6c1d1;
  margin-right: 4px;
}
.header-nav .search .searchInput {
  border-radius: 50rem;
  border: none;
  width: 20rem;
  height: 2rem;
  padding-left: 5px;
}
.header-nav .search .searchInput::-moz-placeholder {
  color: #b6c1d1;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}
.header-nav .search .searchInput::placeholder {
  color: #b6c1d1;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}
.header-nav .nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.header-nav .nav-right .spin-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-nav .nav-right .spin-icon .spinIcon {
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header-nav .nav-right .notificationBasketIcon .shoppingIcon {
  position: absolute;
  font-size: 1.2rem;
  color: #6a6d70;
}
.header-nav .nav-right .notificationBasketIcon .shoppingIcon:hover {
  color: black;
}
.header-nav .nav-right .notificationBasketIcon .notificationNumber {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1rem;
  width: 1rem;
  font-size: 0.65rem;
  color: white;
  font-weight: 700;
  background-color: #f5803d;
  border-radius: 100%;
  font-family: "Poppins", sans-serif;
  margin-left: 0.7rem;
  bottom: 8px;
}
.header-nav .nav-right .bellIcon i {
  position: absolute;
  font-size: 1.2rem;
  color: #6a6d70;
}
.header-nav .nav-right .bellIcon i:hover {
  color: #2c7be5;
}
.header-nav .nav-right .bellIcon .blueNotification {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0.8rem;
  width: 0.8rem;
  border: 2px solid #edf2f9;
  background-color: #2c7be5;
  border-radius: 100%;
  left: 0.4rem;
  bottom: 8px;
}
.header-nav .nav-right .circle-img-nav img {
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
}
footer span {
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin-left: 12.5rem;
  margin-right: 12.5rem;
  color: #6a6d70;
}
footer span a {
  margin-left: 5px;
  text-decoration: none;
  color: #2c7be5;
}

.cc {
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid #edf2f9;
  border-radius: 0.375rem;
  padding: 5px;
  margin: 0.3rem;
  box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

.ali-cards {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.ali-card-1 {
  display: flex;
  flex-direction: column;
  width: 24%;
  height: 151px;
}

.ali-card-2 {
  display: flex;
  flex-direction: column;
  width: 24%;
  height: 151px;
}

.ali-card-3 {
  display: flex;
  flex-direction: column;
  width: 24%;
  height: 151px;
}

.ali-card-4 {
  display: flex;
  flex-direction: column;
  width: 24%;
  height: 151px;
}

.card-header {
  height: 20%;
}

.ali-card-main {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.ali-1-card-echart {
  min-height: 110px;
  min-width: 175px;
  margin-right: 1rem;
}

.gabriel-cards {
  width: 100%;
}

.g-container1 {
  display: flex;
  width: 100%;
}
.g-container1 .fr1 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.gabriel-card-1 {
  width: 50%;
}

.gabriel-card-2 {
  width: 50%;
}

.header-G {
  display: flex;
  height: 20%;
  align-items: center;
  justify-content: space-between;
}

.g-container2 {
  display: flex;
  width: 100%;
}
.g-container2 .gabriel-card-3 {
  width: 70%;
}
.g-container2 .gabriel-card-4 {
  width: 30%;
}

.hasan-cards {
  width: 100%;
}

.h-container-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 55vh;
  color: gray;
}
.h-container-1 .hasan-card-1 {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.h-container-1 .hasan-card-1 .h-card1-table {
  height: 90%;
  width: 100%;
}
.h-container-1 .hasan-card-1 .h-card1-table .h-table {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.h-container-1 .hasan-card-1 .h-card1-table .h-table tr {
  display: flex;
  width: 100%;
  max-height: 15%;
}
.h-container-1 .hasan-card-2 {
  width: 33%;
  height: 100%;
}

.h-container-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 55vh;
  color: gray;
}
.h-container-2 .hasan-card-3 {
  width: 65%;
  height: 100%;
}
.h-container-2 .hasan-card-4 {
  width: 33%;
  height: 100%;
}
.h-container-2 .hasan-card-5 {
  width: 33%;
  height: 100%;
}/*# sourceMappingURL=style.css.map */