.gabriel-cards {
  width: 100%;
}
.g-container1 {
  display: flex;
  width: 100%;
  .fr1 {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}

.gabriel-card-1 {
  width: 50%;
}
.gabriel-card-2 {
  width: 50%;
}
.header-G {
  display: flex;
  height: 20%;
  align-items: center;
  justify-content: space-between;
}

.g-container2 {
  display: flex;
  width: 100%;
  .gabriel-card-3 {
    width: 70%;
  }
  .gabriel-card-4 {
    width: 30%;
  }
}
