.ali-cards {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@for $i from 1 through 4 {
  .ali-card-#{$i} {
    display: flex;
    flex-direction: column;
    width: 24%;
    height: 151px;
  }
}

.card-header {
  height: 20%;
}

.ali-card-main {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.ali-1-card-echart {
  min-height: 110px;
  min-width: 175px;
  margin-right: 1rem;
}
